.padding-bottom-40-px {
    padding-bottom: 40px;
}

.top-posts-section {
    padding: 30px 0 30px 30px;
}

.top-posts-section li {
    list-style: decimal;
}

.rd-navbar-static .rd-navbar-nav > li > .rd-navbar-dropdown, .rd-navbar-fullwidth .rd-navbar-nav > li > .rd-navbar-dropdown {
    margin-top: 0.75rem;
}

.container:before {
  padding-top: 15px;
}

ul > .item > li {
    margin-top: 0.9375rem;
}