.padding-bottom-40-px {
    padding-bottom: 40px;
}

.top-posts-section {
    padding: 30px 0 30px 30px;
}

.top-posts-section li {
    list-style: decimal;
}

.rd-navbar-static .rd-navbar-nav > li > .rd-navbar-dropdown, .rd-navbar-fullwidth .rd-navbar-nav > li > .rd-navbar-dropdown {
    margin-top: 0.75rem;
}

.container:before {
    padding-top: 15px;
}

.rss-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.rss-param-section {
    margin-left: 0.75rem;
}

.rss-param-section li {
    list-style: disc;
    margin-left: 0.75rem;
}

.rss-param-section li > ul > li {
    list-style: circle;
    margin-left: 0.75rem;
}

.rss-example {
    font-family: monospace;
    font-size: 0.85rem;
}