<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <ul class="pagination">
        <li class="paginate_button previous" tabindex="0">
            <a wicket:id="first" href="#">First</a>
        </li>
        <li class="paginate_button previous" tabindex="0">
            <a wicket:id="prev" href="#">Previous</a>
        </li>
        <li wicket:id="navigation" class="paginate_button">
            <a wicket:id="pageLink" href="#"><span wicket:id="pageNumber">5</span></a>
        </li>

        <li class="paginate_button next" tabindex="0">
            <a wicket:id="next" href="#">Next</a>
        </li>
        <li class="paginate_button next" tabindex="0">
            <a wicket:id="last" href="#">Last</a>
        </li>
        <li class="paginate_button disabled">
            <span wicket:id="total">Total: 23</span>
        </li>

    </ul>


</wicket:panel>
</body>
</html>


