# Intellij IDEA
.idea/
*.iml
*.iws
*.ipr

# MacOS Specific
.DS_Store

# Build stuff
target/
build/
.gradle/

# Logs
*.log

# Do not persist application-prod file
application-prod.properties
application-prod.yaml


