<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="LOG_DIR" value="logs"/>
    <property name="LOG_FILE" value="jvm-bloggers.log"/>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_DIR}/${LOG_FILE}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${LOG_FILE}-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>

    </appender>

    <root level="INFO">
        <appender-ref ref="ROLLING"/>
    </root>

    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework.transaction" level="INFO"/>

    <springProfile name="test,dev">
        <logger name="com.jvm_bloggers" level="DEBUG"/>
        <logger name="org.hibernate.SQL" level="DEBUG"/>
    </springProfile>

</configuration>